<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My Cart | Maayaa Baazaar</title>
        <link rel="stylesheet" href="/stylesheets/myCart.css">
	</head>
	<body>

        <header>
            <%-include ("./components/headers/navbar",{login : login, name:name}) %>
        </header>
        <% let total = 0; %>

        <% if(items.length>0){ %>
        <h2>Items in Cart</h2>
        <div class="cart-container">
            <% for(var i=0; i<items.length; i++) { %>
                <div id="card<%=items[i].cart_item_id %>" class="product-card">
                    <div class="product-img">
                        <img src="<%= items[i].thumbnailPath%>" alt="product-image" />
                    </div>
                    <p class="prod-name"><%= items[i].name %></p>
                    <div class="update-value">
                        <button class="update-btn" onclick="updateQuantity(<%= items[i].cart_item_id %>, -1)">-</button>
                        <span><span id = price<%=items[i].cart_item_id%>><%= items[i].price %></span> x </span>
                        <span id =quantity<%=items[i].cart_item_id%>> <%= items[i].quantity %> </span>
                        <button class="update-btn" onclick="updateQuantity(<%= items[i].cart_item_id %>, 1)">+</button>
                    </div>
                    <% total += items[i].price * items[i].quantity %>
                    <span id="item-total-price<%=items[i].cart_item_id%>"><%= items[i].price * items[i].quantity  %></span>
                </div>
            <% } %>
        </div>
        <h2>Total Price: <p id="total-price"><%= total.toFixed(2) %></h2></p>
        <a href="/checkout">Checkout</a>

        <% } else { %>
            <h2>Cart is Empty</h2>
        <% } %>


        <h4>Items in Wishlist</h4>

        <script src="/scripts/myCart.js"></script>
    </body>
</html>
